[Unit]
Description=Set default boot to challenges

[Service]
Type=oneshot
ExecStart=/usr/bin/cp /boot/extlinux/kiosk.cfg /boot/extlinux/extlinux.conf

[Install]
WantedBy=kiosk.target
