[Unit]
Description=Set default boot to registration

[Service]
Type=oneshot
ExecStart=/usr/bin/cp /boot/syslinux/registration.cfg /boot/syslinux/syslinux.cfg
ExecStart=/usr/bin/rm /var/run/nologin

[Install]
WantedBy=multi-user.target
