[Unit]
Description=Set default boot to registration

[Service]
Type=oneshot
ExecStart=/usr/bin/cp /boot/extlinux/registration.cfg /boot/extlinux/syslinux.cfg

[Install]
WantedBy=multi-user.target
