<device xsi:type="axl:XIPPhone">
  <devicePool>
    <name>Default</name>
    <dateTimeSetting>
      <name>CMLocal</name>
      <dateTemplate>D.M.YA</dateTemplate>
      <timeZone>GMT Standard/Daylight Time</timeZone>
      <ntps>
	<ntp>
	  <name>10.14.1.6</name>
	  <ntpMode>Unicast</ntpMode>
	</ntp>
      </ntps>
    </dateTimeSetting>
    <callManagerGroup>
      <members>
	<member priority="0">
	  <callManager>
	    <ports>
	      <ethernetPhonePort>2000</ethernetPhonePort>
	    </ports>
	    <processNodeName>10.14.1.15</processNodeName>
	  </callManager>
	</member>
      </members>
    </callManagerGroup>
    <srstInfo>
      <name>Enable</name>
      <srstOption>Enable</srstOption>
      <userModifiable>true</userModifiable>
      <ipAddr1>10.14.1.15</ipAddr1>
      <port1>2000</port1>
      <ipAddr2></ipAddr2>
      <port2>2000</port2>
      <ipAddr3></ipAddr3>
      <port3>2000</port3>
    </srstInfo>
    <mlppDomainId>-1</mlppDomainId>
    <mlppIndicationStatus>Default</mlppIndicationStatus>
    <preemption>Default</preemption>
  </devicePool>
  <loadInformation>P00308000700</loadInformation>
  <vendorConfig>
    <disableSpeaker>false</disableSpeaker>
    <disableSpeakerAndHeadset>false</disableSpeakerAndHeadset>
    <forwardingDelay>1</forwardingDelay>
    <pcPort>0</pcPort>
    <settingsAccess>1</settingsAccess>
    <garp>0</garp>
    <voiceVlanAccess>1</voiceVlanAccess>
    <videoCapability>1</videoCapability>
    <autoSelectLineEnable>0</autoSelectLineEnable>
    <webAccess>1</webAccess>
    <daysDisplayNotActive>1,7</daysDisplayNotActive>
    <displayOnTime>08:30</displayOnTime>
    <displayOnDuration>11:30</displayOnDuration>
    <displayIdleTimeout>01:00</displayIdleTimeout>
  </vendorConfig>
  <versionStamp></versionStamp>
  <userLocale>
    <name></name>
    <uid>1</uid>
    <langCode>en</langCode>
    <version>4.0(1)</version>
    <winCharSet>iso-8859-1</winCharSet>
  </userLocale>
  <networkLocale></networkLocale>
  <networkLocaleInfo>
    <name></name>
    <uid>64</uid>
    <version>4.0(1)</version>
  </networkLocaleInfo>
  <deviceSecurityMode>1</deviceSecurityMode>
  <idleTimeout>120</idleTimeout>
  <authenticationURL></authenticationURL>
  <directoryURL></directoryURL>
  <idleURL></idleURL>
  <informationURL></informationURL>
  <messagesURL></messagesURL>
  <proxyServerURL></proxyServerURL>
  <servicesURL></servicesURL>
  <dscpForSCCPPhoneConfig>96</dscpForSCCPPhoneConfig>
  <dscpForSCCPPhoneServices>0</dscpForSCCPPhoneServices>
  <dscpForCm2Dvce>96</dscpForCm2Dvce>
</device>
