<!DOCTYPE html>
<html>
  <head>
    <title>Phone Provisioning</title>
  </head>
  <body>
    <form action="/enroll" method="post">
      <div>
	<input type="text" name="mac" placeholder="MAC"/><br/>
	<input type="text" name="exten" placeholder="Extension"/><br/>
	<input type="submit" name="model" value="c7960"/>
	<input type="submit" name="model" value="c7940"/>
	<input type="submit" name="model" value="p321"/>
	<input type="submit" name="model" value="c7902"/>
      </div>
    </form>
  </body>
</html>
