<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated sip-basic.cfg Configuration File -->
<polycomConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="polycomConfig.xsd">
  <device device.hostname="phone{{ mac }}" device.set="1">
    <device.sntp device.sntp.gmtOffset="-14400" device.sntp.serverName="ntp1.magfe.st">
      <device.sntp.gmtOffset device.sntp.gmtOffset.set="-14400">
      </device.sntp.gmtOffset>
      <device.sntp.serverName device.sntp.serverName.set="ntp2.magfe.st">
      </device.sntp.serverName>
    </device.sntp>
  </device>
  <msg>
    <msg.mwi msg.mwi.1.callBackMode="registration" msg.mwi.2.callBackMode="registration">
    </msg.mwi>
  </msg>
  <reg reg.1.address="{{ username }}" reg.1.auth.password="{{ password }}" reg.1.auth.userId="{{ username }}" reg.1.label="{{ callerid }}" reg.1.outboundProxy.address="asterisk.magfe.st" reg.1.displayName="{{ callerid }}">
  </reg>
  <dir>
    <dir.search dir.search.field="1"></dir.search>
  </dir>
</polycomConfig>
