settings {
    logfile    = "/tmp/lsyncd.log",
    statusFile = "/tmp/lsyncd.status",
    nodaemon   = true,
}
{% for container in containers.keys() %}
{% for target in containers[container].targets %}
sync {
    default.rsync,
    source  = "{{ containers[container].source }}",
    target  = "{{ target }}",
    delay   = {{ containers[container].interval }},
    rsync   = {
        _extra = {
            "--numeric-ids",
            "--perms",
            "--owner",
            "--group"
        }
    }
}
{% endfor %}
{% endfor %}

