ESSID={{ ssid }}
MODE=Managed
{% if 'key_mgmt' in options %}
KEY_MGMT={{ options['key_mgmt'] }}
{% endif %}
TYPE=Wireless
BOOTPROTO=dhcp
DEFROUTE=yes
IPV4_FAILURE_FATAL=no
IPV6INIT=yes
IPV6_AUTOCONF=yes
IPV6_DEFROUTE=yes
IPV6_FAILURE_FATAL=no
NAME={{ ssid }}
UUID={{ uuid }}
ONBOOT=yes
SECURITYMODE=open
PEERDNS=yes
PEERROUTES=yes
IPV6_PEERDNS=yes
IPV6_PEERROUTES=yes
USERS=magfest
