ESSID="{{ ssid }}"
MODE=Managed
{% if 'key_mgmt' in options %}
KEY_MGMT={{ options['key_mgmt']|upper }}
{% if options['key_mgmt'] == 'wpa-eap' %}
IEEE_8021X_EAP_METHODS={{ options['eap'] }}
IEEE_8021X_IDENTITY={{ options['identity'] }}
IEEE_8021X_INNER_AUTH_METHODS={{ options['inner_auth'] }}
{% endif %}
{% endif %}
TYPE=Wireless
BOOTPROTO=dhcp
DEFROUTE=yes
IPV4_FAILURE_FATAL=no
IPV6INIT=yes
IPV6_AUTOCONF=yes
IPV6_DEFROUTE=yes
IPV6_FAILURE_FATAL=no
NAME={{ ssid }}
UUID={{ uuid }}
ONBOOT=yes
MAC_ADDRESS_RANDOMIZATION=default
PROXY_METHOD=none
BROWSER_ONLY=no
IPV6_PRIVACY=no
