ESSID="{{ ssid }}"
MODE=Managed
{% if 'key_mgmt' in options %}
KEY_MGMT={{ options['key_mgmt']|upper }}
{% if options['key_mgmt'] == 'wpa-eap' %}
IEEE_8021X_EAP_METHODS={{ options['eap'] }}
IEEE_8021X_IDENTITY={{ options['identity'] }}
IEEE_8021X_PASSWORD_FLAGS=ask
IEEE_8021X_INNER_AUTH_METHODS={{ options['inner_auth'] }}
IEEE_8021X_CA_CERT=/etc/pki/wifi/{{ ssid.lower().replace(' ', '_') }}.crt
{% endif %}
{% endif %}
TYPE=Wireless
BOOTPROTO=dhcp
DEFROUTE=yes
IPV4_FAILURE_FATAL=no
IPV6INIT=yes
IPV6_AUTOCONF=yes
IPV6_DEFROUTE=yes
IPV6_FAILURE_FATAL=no
NAME={{ ssid }}
UUID={{ uuid }}
ONBOOT=yes
SECURITYMODE=open
PEERDNS=yes
PEERROUTES=yes
IPV6_PEERDNS=yes
IPV6_PEERROUTES=yes
USERS=magfest
